<div class="about-intro">
  <div class="about-intro__inner">
    <h1 class="about-intro__heading">{{ section.settings.heading }}</h1>
    <div class="about-intro__text">{{ section.settings.text }}</div>
  </div>
</div>

{% schema %}
{
  "name": "About Intro",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "About Us"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [{"name": "About Intro"}]
}
{% endschema %}
